@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: #000;
    color: white;
}

.container {
    width: 1250px;
    height: 570px;
    @include flexBox;
    flex-direction: column;
    gap: 50px;
   
}

.header {
    font-size: 30px;
    z-index: 10;
}
.input{
    background: #c4c2c2;
    border: 1px solid black;
    border-radius: 3px;
}
.select{
    background: rgb(197, 197, 197);
    border: 1px solid black;
    border-radius: 3px;
    cursor:context-menu;
}

.form {
    background:#bccc96;
    padding: 30px 60px;
    border-radius: 16px;
   @include flexBox;
    flex-direction: column;
    gap: 30px;
    color: #372a2a;
    box-shadow: #bccc96 1px 1px 200px;

}
.amount{
   @include flexBox;
    gap: 10px;
}
.drop-down{
    @include flexBox;
    gap: 10px;
}
.select_container{
   @include flexBox;
    gap: 10px;
img{
    width: 30px;
    &:hover{
        transform:scale(1.09,1.09);
    }
}
}
 
.btn{
    padding: 7px 10px;
    background: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}